{% extends 'base.html' %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Model Queries- Demo</title>
  </head>
  <body>

      <div class="container">
        {% block content%}
            <h1 class="mt-4">All Model Queries</h1>

            <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">S.No</th>
                          <th scope="col">Description</th>
                          <th scope="col">Model Query</th>
                          <th scope="col">Result</th>
                        </tr>
                      </thead>
                      <tbody>

                             {% for each_patient in patients_age_greatethan35_key %}
                        <tr>
                          <th scope="row">1</th>
                          <td>Patient with age > 35</td>
                          <td>{{ age35query_key }}</td>
                          <td>{{ each_patient.first_name }} {{ each_patient.last_name }}</td>
                        </tr>
                      {% endfor %}

                             {% for patient in patient_firstname_lastname_key %}

                          <tr>
                          <th scope="row">2</th>
                          <td>Patient firstname starts with 'J' and last name starts with 'D'</td>
                          <td>{{ search_fname_lname_query_key }}</td>
                          <td>{{ each_patient.first_name }} {{ each_patient.last_name }}</td>
                        </tr>
                      {% endfor %}



                      </tbody>
                    </table>




        {% endblock %}
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>